extends layout

block content
	h1 #{campaign.title} Details
	div.well
		ul.list-group
			li.list-group-item.h3 Campaign created by: #{campaign.author}
			li.list-group-item.h3 Photos currently in campaign: #{photoCount}
		for photo in campaign.photos
			li.pull-left
					div.thumbnail
						img.points(src="/images/#{photo.file}" width="200px")
						div #{photo.caption}
